<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>aps-environment</key>
	<string>production</string>
	<key>com.apple.developer.associated-domains</key>
	<array>
		<string>applinks:burgonomics.com</string>
		<string>applinks:partner.burgonomics.com</string>
		<string>applinks:burgonomics.netlify.app</string>
		<string>applinks:checkout.razorpay.com</string>
		<string>applinks:api.razorpay.com</string>
		<string>applinks:apis.google.com</string>
		<string>applinks:www.google.com</string>
		<string>applinks:www.gstatic.com</string>
		<string>applinks:burgonomics-7faa8.firebaseapp.com</string>
	</array>
</dict>
</plist>